@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=DM+Sans:wght@300;400;500&display=swap');


:root {
  --rose: #fca400;
  --rose-light: #fff3d7;
  --rose-mid: #F0B030;
  --rose-dark: #271706;
  --rose-soft: #ffe578;
  --text: #1A0E00;
  --text-muted: #4A2800;
  --text-light: #C8A050;
  --border: #ffe578;
  --bg: #fffaf1;
  --white: #FFFFFF;
  --sage: #F0B030;
  --sage-light: #FAE8B0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  background: var(--bg);
  color: var(--text);
}